@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,100;1,200;1,300&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header {
    background-image: url('../images/bg.png');
    height: 700px;
}

nav {
    font-family: 'Roboto Mono';
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    font-size: 1.5em;
    box-shadow: 0px 1px 10px #000000;
}

.nav {
    position: fixed;
    background-color: rgb(92, 118, 148);
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

nav a:hover {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
}


/* section fields */
.fields {
    padding: 10%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.fields div {
    margin: 20px;
    cursor: pointer;
    border: 1px solid rgb(92, 118, 148);;
    padding: 20px;
    justify-content: space-around;
    box-shadow: 13px 13px 0px rgb(92, 118, 148);
    transition: all 0.3s ease 0s;
}

.fields div:hover {
    box-shadow: 10px 10px 0px black;
    transition: all 0.3s ease-i 0s;
    background-color: rgb(92, 118, 148);
    color: white;
}

.order {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
}

.order:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}

.fields div h1 {
    padding: 30px 0px;
}

.fields div p {
    padding: 15px 0px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10% 5%;
}

.text h1{
    font-weight: 800;
    font-family: 'Roboto Mono';
    margin-bottom: 15px;
}

.text h3, p {
    font-weight: 200;
    font-family: 'Roboto Mono';
}

.btn-git {
    font-size: 20px;
    padding: 15px;
    width: 200px;
    margin-top: 20%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    color: rgb(92, 118, 148);
}

.btn-git:hover {
    background-color: rgb(92, 118, 148);
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(92, 118, 148);
}

.shape {
    width: 70%;
    height: 250px;
    background-color: rgb(92, 118, 148);
    position: absolute;
    left: 30%;
    top: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 150px;
}

.shape h1{
    color: white;
    font-family: 'Roboto Mono';
    font-weight: 800;
    font-size: 5rem;
}