@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,100;1,200;1,300&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(0deg, rgb(184, 184, 184, 0.5), #5c7694), url('../images/bg.png');
    height: 700px;
}

nav {
    font-family: 'Roboto Mono';
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    font-size: 1.5em;
    box-shadow: 0px 1px 10px #000000;
}

.nav {
    position: fixed;
    background-color: rgb(92, 118, 148);
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

nav a:hover {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
}


/* section fields */
.fields {
    padding: 10%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.fields div {
    margin: 20px;
    cursor: pointer;
    border: 1px solid rgb(92, 118, 148);;
    padding: 20px;
    justify-content: space-around;
    box-shadow: 13px 13px 0px rgb(92, 118, 148);
    transition: all 0.3s ease 0s;
}

.fields div:hover {
    box-shadow: 10px 10px 0px black;
    transition: all 0.3s ease-i 0s;
    background-color: rgb(92, 118, 148);
    color: white;
}

.order {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
}

.order:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}

.fields div h1 {
    padding: 30px 0px;
}

.fields div p {
    padding: 15px 0px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10% 5%;
}

.text h1{
    font-weight: 800;
    font-family: 'Roboto Mono';
    margin-bottom: 15px;
}

.text h3, p {
    font-weight: 200;
    font-family: 'Roboto Mono';
    color: rgb(0, 0, 0);
}

.btn-git {
    font-size: 20px;
    padding: 15px;
    width: 200px;
    margin-top: 20%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    color: rgb(92, 118, 148);
}

.btn-git:hover {
    background-color: rgb(92, 118, 148);
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(92, 118, 148);
}

.shape {
    width: 70%;
    height: 250px;
    background-color: rgb(92, 118, 148);
    position: absolute;
    left: 30%;
    top: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 150px;
}

.shape h1{
    color: white;
    font-family: 'Roboto Mono';
    font-weight: 800;
    font-size: 5rem;
}

/*  keep in touch */
.section-title {
    align-items: center;
    padding-left: 40%;
    margin-top: 5%;
}

#keep-in-touch {
    background-color: rgb(192, 192, 192);
    padding: 5%;
}

/* class */
.keep-in-touch {
    width: 100%;
    /* display: flex;
    flex-direction: row; */
    justify-content: space-around;
    padding: 0% 5%;
}

.contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    width: 100%;
    margin: 1% 5%; /* margin 1% is for top and bottom & 5% is for left and right */
    height: 30px;
}

/* footer */

/* example for flex model */
.footer {
    background-color: rgb(92, 118, 148);
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding: 2% 0%;
}

.social ul {
    list-style: none; /* removes dot from list */
}

.social ul li {
    margin-bottom: 1%;
    font-family: 'Roboto Mono';
    font-size: 1rem;
    font-weight: 300;
}

i {
    color: rgb(255, 255, 255);
}

.social ul a {
    text-decoration: none; /* removes underline from link */
    color: white;
}

.footer ul {
    list-style: none;
}

hr {
    background-color: white;
    height: 3px;
}

/* copyright */
.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0%;
    color: white;
    background-color: rgb(66, 94, 125);
}
